# Diretórios .terraform locais
**/.terraform/*

# arquivos .tfstate
*.tfstate
*.tfstate.*

# Arquivos de log de falha
crash.log

# Ignore quaisquer arquivos .tfvars gerados automaticamente para cada execução do Terraform. Maioria
# Os arquivos .tfvars são gerenciados como parte da configuração e, portanto, devem ser incluídos
# controle de versão.
#
# example.tfvars

# Ignore os arquivos de substituição, pois eles geralmente são usados ​​para substituir os recursos localmente e, portanto,
# não fez check-in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Inclua arquivos de substituição que você deseja adicionar ao controle de versão usando padrão negado
#
# !example_override.tf

# Inclua arquivos tfplan para ignorar a saída do plano do comando: terraform plan -out=tfplan
# exemplo: *tfplan*
