# Ignorar a pastas com informações sensiveis
key/
.terraform/
.git/
# Ignorar arquivos sensiveis Terraform
variables.tf
.terraform.lock.hcl
*.tfstate
*.tfstate.*
#terraform.tfstate
#terraform.tfstate.backup
